body {
  text-align: center;
  background-color: #011f3f;
}

.red {
  padding: 15px 25px;
  margin: 35px;
  height: 100px;
  width: 200px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.red:hover {
  background-color: red;
}

.red:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.blue {
  padding: 15px 25px;
  font-size: 24px;
  margin: 35px;
  height: 100px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.blue:hover {
  background-color: blue;
}

.blue:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.green {
  padding: 15px 25px;
  font-size: 24px;
  height: 100px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.green:hover {
  background-color: green;
}

.green:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.yellow {
  padding: 15px 25px;
  font-size: 24px;
  height: 100px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: yellow;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.yellow:hover {
  background-color: yellow;
}

.yellow:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
